@media (max-width: 670px), (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
  }

  #home {
    margin-bottom: 20%;
  }

  #navbar {
    width: 100%;
    height: 60px;
    margin: 0;
    justify-content: flex-end;
    background-color: #514724;
    padding: 0;
    border-radius: 0;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
  }

  .hero-image {
    margin-top: -20%;
    margin-left: -82%;
    margin-right: 76%;
    max-width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
    border-radius: 0;
  }

  .hero-content {
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    height: 80%;
  }

  .hero-text {
    max-width: 100%;
    z-index: 1;
    text-align: left;
    position: relative;
  }

  .circle {
    width: 270px;
    height: 270px;
    background: linear-gradient(to bottom, #958340 0%, #5E532D 20%, #433A1A 35%, black 100%);
    border-radius: 50%;
    position: absolute;
    left: -90px;
    top: 30%;
    transform: translateY(-50%) rotate(-40deg);
    z-index: -1;
  }

  .hero-text h1,
  .hero-text h2,
  .hero-text h3 {
    line-height: 1.2;
    text-align: start;
  }

  .hero-text h3 {
    font-size: 20px;
    font-family: 'jockey one';
    color: #fff;
    margin-top: 1%;
    margin-left: -20%;
  }

  .hero-text h2 {
    font-size: 2rem;
    font-family: 'knewave';
    color: #d4af37;
    margin-left: -19%;
  }

  .hero-text h1 {
    font-family: 'jockey one';
    font-size: 2.9rem;
    color: #fff;
    margin-left: 10%;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 58%;
    transform: translateY(-50%);
    z-index: 2;
    margin-left: 2%;
    margin-bottom: 40%;
    margin-top: 15%;
  }

  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    text-decoration: none;
  }

  .contact-btn {
    display: inline-block;
    padding: 0.8rem 3.7rem;
    background-color: #d4af37;
    color: #000;
    text-decoration: none;
    border-radius: 40px;
    position: absolute;
    z-index: 2;
    top: 110%;
    margin-left: 40%;
    font-family: 'Sansita One';
    font-weight: bolder;
  }

  .hero-image img {
    max-width: 300%;
    border-radius: 0;
    margin: 0;
  }

  #about-me {
    max-width: 100%;
    margin-top: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-image img {
    width: 100%;
    display: block;
    margin: 0;
    margin-left: -15px;
  }

  #about-me h2 {
    display: inline-block;
    padding: 5px 70px;
    margin: 0 auto;
    color: #fff;
    justify-content: left;
    align-items: center;
    margin-left: -5%;
  }

  #about-me p {
    margin-top: 10px;
    text-align: left;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 90%;
    font-size: larger;
  }

  .edu-image img {
    width: 120%;
    display: block;
    margin: 0;
    justify-content: center;
    margin-left: 7%;
  }

  .edu-button {
    padding-right: 9%;
    padding-left: 13%;
    margin-right: 9%;
    margin-left: 11%;
  }

  .edu-section {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 2%;
  }

  #my-edu h2 {
    display: block;
    margin-top: 70%;
    padding: 10px 50px;
    justify-content: left;
    margin-right: 20%;
    color: #fff;
  }

  #my-edu p {
    margin-top: 60px;
    margin-left: 30px;
    text-align: left;
    display: block;
    font-size: larger;
    margin-bottom: 10%;
  }

  #project {
    margin-left: 1%;
    margin-right: 2%;
  }

  #project h2 {
    padding: 10px 1px;
    margin-top: 70%;
    margin-right: 102px;
    margin-left: 102px;
    text-align: center;
  }

  #popup-content img {
    display: none;
  }

  .popup-button {
    display: inline;
    padding: 0;
    margin: 0;
    background: none;
    font-family: inherit;
    color: #0000ee;
    text-decoration: underline;
    border-radius: 0;
    transition: none;
  }

  .close-btn {
    display: none;
  }

  #pop-up {
    margin: 0 auto;
  }

  .popup-button {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 20px;
    margin-bottom: 60px;
  }

  .close-btn-mobile {
    position: absolute;
    top: 125%;
    right: 10px;
    background: black;
    color: #d1b44b;
    border: none;
    margin: 10px 30px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
  }

  #certification {
    margin-right: 0%;
    margin-left: 0%;
  }

  #certification h2 {
    padding: 15px -10px;
    margin-right: 102px;
    margin-left: 102px;
    text-align: center;
  }

  #load-more {
    margin-left:35.5%;
  }

  #load-more-1 {
    margin-left:35.5%;
  }

  #skills {
    margin-top: 30%;
    margin-right: 0%;
    margin-left: 0%;
  }

  #skills h2 {
    margin-bottom: 40px;
    font-weight: 200;
    padding: -1px 60px;
    margin-right: 102px;
    margin-left: 102px;
  }

  #skills #skills-content {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .list {
    width: 85%;
    margin-top: 10%;
    margin-left: 22%;
    order: 2;
  }

  .image {
    width: 100%;
    display: block;
    text-align: center;
  }

  #skills #skills-image {
    order: 1;
    width: 80%;
  }

  #skills #skills-image img {
    width: 120%;
    border-radius: 10px;
    margin-left: 25%;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 40%;
    margin-left: 5%;
  }
  
  .contact-form, .contact-info {
    width: 80%;
    margin-bottom: 5%;
    text-align: left;
  }
  
  .contact-form {
    order: 2;
  }
  
  .contact-info {
    order: 1;
  }
  
  .contact-form h2 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contact-btn {
    margin-top: 190%;
  }

  .hero-image {
    margin-right: 75.5%;
  }

  .circle {
    top: 80%;
  }

  .hero-text h3 {
    margin-top: 380%;
    margin-left: -20%;
  }

  .hero-text h2 {
    font-size: 70px;
  }

  .hero-text h1 {
    font-size: 70px;
  }

  .social-links {
    top: 88%;
  }

  .contact-btn {
    top: 75%;
    font-weight: bolder;
  }

  #about-me {
    max-width: 140%;
    margin-top: 79%;
  }

  #project h2 {
    padding: 15px 60px;
    margin-right: -12px;
    margin-left: -2px;
    text-align: center;
  }

  #contact {
    margin-right: 0;
  }

  .contact-form {
    width: 80%;
  }

  .contact-info {
    width: 80%;
    justify-content: center;
    margin-bottom: 5%;
  }
}